@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background:
    radial-gradient(circle at top, rgba(232, 238, 242, 0.95), transparent 36%),
    linear-gradient(180deg, #f4e6d1 0%, #fbf7f0 54%, #f3efe7 100%);
  color: #14213d;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  background:
    radial-gradient(circle at top, rgba(232, 238, 242, 0.95), transparent 36%),
    linear-gradient(180deg, #f4e6d1 0%, #fbf7f0 54%, #f3efe7 100%);
  color: #14213d;
}

a {
  color: inherit;
}
